body{
     font-family: "Roboto";
     font-weight: 300;
    }
 /* Style buttons */
 button{
    background-color: lightgray; /* Blue background */
    border: none; /* Remove borders */
    color: red; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    text-align: center;
    width: 46px;
    height: 33px;
  }
  
  /* Darker background on mouse-over */
  button:hover {
    transition-property: background-color;
    transition: ease-in-out;
    transition-delay: 42ms;
    transition-duration: 333ms;
    background-color: RoyalBlue;
  } 

  #move_btn{
    width: 30px;
    height: 30px;
  }